body {
    background-color: gainsboro;
    font-family: "Quicksand", sans-serif;
    margin: 1rem 5% 0 5%;
  }
  
  h1 {
    font-size: 6.5rem;
    font-weight: bolder;
    margin: 1rem;
    font-family: 'Secular One', sans-serif;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  header {
    background-color: white;
    padding: 1rem;
    margin-bottom: 0.75rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: 80rem;
    padding-bottom: 1rem;
    border-bottom: solid 2px rgb(0, 0, 0);
  }
  
  nav ul {
    list-style: none;
    text-align: center;
  }
  
  nav li {
    display: inline-block;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.25rem;
  }
  
  nav li:hover {
    font-weight: bolder;
  }
  
  
  li:last-of-type {
    position: relative;
  }
  
  span {
    position: absolute;
    font-size: 0.5rem;
    background-color: rgb(192, 0, 0);
    border: solid 1px rgb(187, 0, 0);
    color: #ffffff;
    padding: 5px;
    border-radius: 50%;
    transform: rotateZ(25deg);
  }
  
  #black-friday {
    top: -100%;
  }
  
  nav li a {
    text-decoration: none;
    color: black;
  }
  
  section {
    display: flex;
    margin-bottom: 2rem;
    text-align: center;
    flex-wrap: wrap;
  }
  
  section:first-of-type {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  section:first-of-type video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
  }
  
  section:first-of-type article {
    z-index: 1;
    position: relative;
    text-align: center;
    color: white;
    padding: 1rem;
  }
  
  section:first-of-type button {
    padding: 0.35rem 0.5rem;
    background-color: white;
    color: black;
    border: black solid 2px;
    cursor: pointer;
  }
  
  section:first-of-type button:hover {
    padding: 0.35rem 0.5rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: rgb(255, 255, 255) solid 2px;
    cursor: pointer;
  }
  
  section:last-of-type article {
    flex: 1 0 300px;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 1rem;
  }
  
  section:last-of-type img {
    background-color: gainsboro;
  }

  
.women-collection,
.men-collection,
.disney-collection {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.disney-collection .img-back {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 99;
}

.disney-collection:hover .img-back {
  display: inline;
}

.women-collection .img-back {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 99;
}

.women-collection:hover .img-back {
  display: inline;
}

.men-collection .img-back {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 99;
}

.men-collection:hover .img-back {
  display: inline;
}

article {
  flex: 1;

}

section:last-of-type article:nth-child(2) {
  margin-left: 1rem;
  margin-right: 1rem;
}

footer {
  background-color: white;
  border-top: solid black 4px;
  display: flex;
  padding: 1rem;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer div {
  flex: 1;
}

footer h2 a {
  text-decoration: none;
  color: crimson;
}

footer div:nth-child(2) {
  text-align: end;
}

footer img {
  width: 10rem;
  position: absolute;
  margin-bottom: auto;
  margin-top: auto;
  top: 0;
  bottom: 0;
  text-align: center;
}


@media (max-width:1450px) {
  header > img {
    width: 70rem;
  }
}

@media (max-width:1280px) {
  header > img {
    width: 50rem;
  }
}


@media (max-width:900px) {
  header > img {
    width: 40rem;
  }

  h1 {
    font-size: 5rem;
  }
  
}


@media (max-width:780px) {
  header > img {
    width: 30rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  nav li {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
}

@media (max-width:772px) {
  section:last-of-type article:nth-child(2) {
    margin-left: 1rem;
    margin-right: 0rem;
  }
}

@media (max-width:746px) {
  section:last-of-type article:nth-child(2) {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}


@media (max-width:690px) {
  nav li {
    font-size: 1rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
  
  footer h2 {
    font-size: 1rem;
  }
}

@media (max-width:580px) {
  header > img {
    width: 23rem;
  }
  nav li {
    font-size: 0.80rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }

  section:last-of-type article:nth-child(2) {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  span {
    font-size: 0.35rem;
  }
}
